* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./images/showcase.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.header-div {
  position: absolute;
  top: 203px;
  left: auto;
  right: auto;
}

.header-heading {
  margin-top: 16px;
  text-align: center;
  width: 300px;
  font-size: 35px;
}

.logo {
  width: 180px;
}

.header-parag {
  width: 300px;
  margin-top: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 300px;
  text-align: center;
  margin-left: 25px;
}

.main-container1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 290px;
  text-align: center;
}

.main-container1-heading {
  font-size: 18px;
  font-weight: bold;
  width: 306px;
  margin-top: 18px;
}

.main-container1-paragraph {
  width: 307px;
  margin-top: 16px;
  font-weight: 500;
}


.main-container2 {
  color: rgb(51, 51, 51);
  display: flex;
  width: 1695px;
  padding: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.div {
  color: rgb(51, 51, 51);
  display:block;
  width: 470px;
  margin-left: 10px;
}

.div-heading {
  font-weight: bold;
  margin: 18px 0;
  width: 333px;
  font-size: 20px;
}

.laptop {
  margin: 5px 135px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 1695px;
  background-color: rgb(51, 51, 51);
  min-height: 89px;
}
